---
template: album
pagination:
  data: spotify
  size: 1
  alias: album
title: "Album | 22Carbone"
---
extends ./_layouts/layout.pug
block content
    .album
        .album__wrapper
        
            h1.album__title #{album.name} 
            .album__tracklist   
                
                table.album__tracklist__table
                    thead
                        tr
                            th Titre
                            th Feat.
                            th Album
                            th Durée
                            th
                    tbody
                        each track, index in album.tracks
                            tr
                                td.album__track__name #{track.name}
                                td.album__track__feat #{track.feat || ''}
                                td.album__track__album #{album.name}
                                - const duration = new Date(track.duration_ms).toISOString().substr(11, 8);
                                td.album__track__duration #{duration}
                                td.album__track__duration
                                    a(href=track.spotify_url, target="_blank")
                                        img(src="/src/assets/img/icons/spotify.svg", alt="Spotify")