---
    template: "discography"
    title: "Discographie | 22Carbone"  
---
extends ./_layouts/layout.pug
block content
    .discography 
        .discography__wrapper
            img.discography__album__cover(data-src=spotify[0].cover, alt=spotify[0].title)
            .discography__albums__wrapper
                    each album in spotify
                        a(href="/discography/"+album.slug+"/")                         
                            .discography__album(data-cover=album.cover)
                                .discography__album__title #{album.name}
                                .discography__album__release__date (#{album.release_date.slice(0,4)})
