---
    template: "home"
    title: "Accueil | 22Carbone"
    
---
extends ./_layouts/layout.pug
block content
    .home
        .home__wrapper 
            .home__vertical__line
            .home__vertical__line
            .home__vertical__line
            .home__vertical__line
            h1.home__title=prismic.homepage.data.h1[0].text
            .home__video__wrapper
                .home__video__filter
                video.home__video(autoplay,muted,loop,playsinline,preload="auto")
                    source(src="src/assets/videos/homepage_presentation.mp4", type="video/mp4")
                    img( src="src/assets/img/home-video-placeholder.png", alt="Aperçu vidéo")
            .home__main__wrapper
                .home__who__wrapper 
                    .home__who__text__section
                        h2.home__h2.home__who__title(data-animation="title")=prismic.homepage.data.who_title[0].text
                        p.home__who__p(data-animation="paragraph")=prismic.homepage.data.who_text[0].text
                            
                    .home__who__hover__section
                        span 22ARCHIVES22.
                        .delimiter__group.delimiter__group--top-left 
                        .delimiter__group.delimiter__group--top-right
                        .delimiter__group.delimiter__group--bottom-left
                        .delimiter__group.delimiter__group--bottom-right 
                .home__three__wrapper
                    .home__three__label 
                .home__reels__title
                    h2.home__h2(data-animation="title")=prismic.homepage.data.news_title[0].text 
                .home__reels__wrapper
                    .home__reels__video__wrapper(data-animation="reels")
                        video.home__reels__video(autoplay loop muted playsinline preload="auto")
                            source(src="src/assets/videos/reels_freestyle_bon_marche.mp4" type="video/mp4")
                            | Votre navigateur ne supporte pas les vidéos.
                        video.home__reels__video(autoplay loop muted playsinline preload="auto")
                            source(src="src/assets/videos/reels_digicode.mp4" type="video/mp4")
                            | Votre navigateur ne supporte pas les vidéos.
                        video.home__reels__video(autoplay loop muted playsinline preload="auto")
                            source(src="src/assets/videos/reels_trashtalking.mp4" type="video/mp4")
                            | Votre navigateur ne supporte pas les vidéos.
                .home__news__wrapper

                    each news in prismic.homepage.data.news_list
                        .home__news__separator(data-animation="separator") 
                        .home__news__item(data-animation="title")
                            .home__news__info__wrapper
                                .home__news__item__title
                                    .home__news__item__date=new Date(news.news_item.data.date).toLocaleDateString('fr-FR', { year: 'numeric', month: 'numeric', day: 'numeric' })
                                    .home__news__item__label=news.news_item.data.titre[0].text
                                p.home__news__item__text=news.news_item.data.text[0].text
                            img.home__news__item__img(src=news.news_item.data.image.url,width="100%",data-animation="image")
                    
    

